h1 {
    font: 900;
    line-height: 150%;
    margin-top: 0;
    font-size: 24px;
}

p {
    margin-top: 0;

}

button {
    font-weight: 900;
    font-size: 12px;
}

a, a:visited, a:active {
    text-decoration: none;
}