@import "tailwindcss";

@theme {
  --color-sedans: hsl(31, 77%, 52%);
  --color-suvs: hsl(184, 100%, 22%);
  --color-luxury: hsl(179, 100%, 13%);
  --color-copy: hsla(0, 0%, 100%, 0.75);
  --color-surface: hsl(0, 0%, 95%);

  --font-body: "Lexend Deca", sans-serif;
  --font-heading: "Big Shoulders", sans-serif;
  --text-body: 0.9375rem;
  --text-body--line-height: 1.65;
}

@layer base {
  body {
    background-color: var(--color-surface);
    font-family: var(--font-body);
    font-size: var(--text-body);
    font-weight: 400;
    line-height: var(--text-body--line-height);
  }
}
