
:root {

    --primary-clr1:  hsl(215, 51%, 70%);
    --primary-clr2:  hsl(178, 100%, 50%);
    --blue-mainBG:  hsl(217, 54%, 11%);
    --blue-cardBG:  hsl(216, 50%, 16%);
    --blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

}
